html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
}
body * {
    margin: 0;
    padding: 0;
}

.parks {
    display: inline-block;
    width: 60vw;
    padding: 20px 5vw;
}
.cars {
    display: inline-block;
    width: 20vw;
    padding: 20px 0;
    position: fixed;
}